
#logo{
   max-width:50rem;
   max-height:50rem;
   width:100%;
   height:auto;
}

#ima1{
max-width:50rem;
max-height:50rem;
width:100%;
height:auto;
}
#ima2{
   max-width:50rem;
   max-height:50rem;
   width:100%;
   height:auto;
}
#ima3{
   max-width:50rem;
   max-height:50rem;
   width:100%;
   height:auto;
}
